header {
    background-color: #090037;
    padding: 1rem 2rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body{
    background-color: #090037;
}
.logo {
    font-size: 1.8rem;
    font-weight: bold;
}
h2{
    color: aliceblue;
}
h4{
    color: aliceblue;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffdd57;
}
.boton{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid aquamarine 1px;
    border-radius: 5px;
    width:100px;
}
.producto{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
