.contenedor{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 500px;
}
.mb-3{
    display: flex;
    justify-content: center;
    
}